main {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    padding-top: 45px;
}

.story-box,
.avatarr,
.author,
.datetime,
.moreoptions-box,
.interact-box1 img,
.interact-box2 img,
.all-cmt span,
.cmt-more,
.cmt img,
.add-cmt-box img,
.profile-pic2,
.username,
.tool-box,
.tool-box2,
.box-1 span,
.box-2 span,
.cap span,
.user span,
.like-amount img,
.like-amount span,
.older-posts-3 span,
.profile-pic3,
.info-box4 p,
.info-box6 img,
.follow-box,
.message-box,
.following-box2 {
    cursor: pointer;
}

main > div:first-child {
    width: 630px;
    flex-shrink: 0;
}

.mid-header {
    display: flex;
    column-gap: 20px;
    /* background-color: lightblue; */
}

.story-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    row-gap: 6px;
}

.pic-box {
    width: 63px;
    height: 63px;
    border-radius: 31.5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.profile-pic {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 28px;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
}

.name-box {
    color: rgb(115, 115, 115);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    max-width: 70px;
}

.content-box {
    padding: 50px 80px 20px 80px;
}

.post-box {
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid rgba(115, 115, 115, 0.3);
    margin-bottom: 15px;
}

.author-box {
    display: flex;
    align-items: center;
}

.author-box p {
    display: inline-block;
}

.avatarr-box {
    width: 32px;
    margin-right: 10px;
    position: relative;
}

.avatarr {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 16px;
}

.info-box2 {
    flex: 1;
}

.author-box2 {
    display: inline-block;
    position: relative;
}

.author {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.middle-dot,
.datetime {
    color: rgb(115, 115, 115);
}

.datetime {
    font-size: 14px;
}

.moreoptions-box {
    width: 32px;
    display: flex;
    justify-content: end;
}

.post-photo {
    width: 100%;
    border-radius: 5px;
}

.interact-box {
    display: flex;
}

.interact-box1 {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 5px 0px 13px 0px;
}

.comment-icon:hover,
.sharepost-icon:hover,
.save-icon:hover,
.like-comment-icon:hover,
.emoji-comment-icon:hover {
    opacity: 0.5;
}

.interact-box2 {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
}

.interact-box1 img {
    margin-right: 16px;
}

.like-amount {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.like-amount img {
    width: 14px;
    height: 14px;
    object-fit: cover;
    border-radius: 7px;
}

.cap {
    font-size: 14px;
    margin-bottom: 8px;
}

.cap span {
    font-weight: 500;
}

.cap p {
    margin: 0px;
}

.all-cmt {
    font-size: 14px;
    color:rgba(115, 115, 115, 0.8);
    margin-bottom: 8px;
}

.cmt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.cmt p {
    margin: 0;
    font-size: 14px;
}

.user span {
    font-weight: 500;
}

.cmt-more {
    color: rgb(115, 115, 115);
}

.add-cmt-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.add-cmt {
    font-size: 14px;
    color: rgba(115, 115, 115, 0.8);
}

.older-posts-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.5px solid rgba(115, 115, 115, 0.3);
    /* background-color: lightpink; */
    padding: 40px 0px 30px 0px;
}

.checkmark {
    width: 96px;
    height: 96px;
}

.older-posts-1 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.older-posts-2,
.older-posts-3 {
    font-size: 14px;
}

.older-posts-2 {
    margin-bottom: 10px;
    color: rgba(115, 115, 115, 0.8);
}

.older-posts-3 {
    color: rgb(0, 149, 246);
    font-weight: 500;
}

.right-box {
    padding-left: 64px;
}

.right {
    display: flex;
    flex-direction: column;
    top: 60px;
    width: 290px;
    row-gap: 12px;
    margin-bottom: 30px;
    padding-left: 10px;
}

.account-box {
    display: flex;
    align-items: center;
    /* background-color: lightblue; */
}

.pic-box2 {
    width: 44px;
    position: relative;
    margin-right: 10px;
}

.profile-pic2 {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    object-fit: cover;
}

.pic-box2:hover .more-info,
.username-box:hover .more-info,
.avatarr-box:hover .more-info,
.author-box2:hover .more-info {
    opacity: 1;
    pointer-events: auto;
}

.more-info {
    position: absolute;
    bottom: -340px;
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    transition-delay: 0.3s;
}

.info-box3 {
    display: grid;
    grid-template-columns: 60px 1fr;
    column-gap: 10px;
    margin: 20px 0px 15px 15px;
    align-items: center;
}

.profile-pic3 {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 28px;
}

.info-box4 {
    display: flex;
    flex-direction: column;
}

.info-box4-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
}

.username2 {
    font-weight: bold;
    margin: 0;
}

.name2 {
    padding: 0;
}

.name2 p {
    margin: 0;
    color: gray;
}

.info-box5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 15px;
}

.info-box5 div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box5 span {
    font-size: 14px;
}

.amount {
    font-weight: bold;
}

.info-box6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3px;
}

.info-box6 img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.follow-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 149, 246);
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin: 14px 18px 18px 18px;
    border-radius: 10px;
    height: 34px;
    transition: background-color 0.2s;
}

.follow-box:hover {
    background-color: rgb(24, 119, 242);
}

.follow-box2 {
    display: flex;
    column-gap: 8px;
    margin: 14px 18px 18px 18px;
}

.message-box,
.following-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 32px;
    border-radius: 10px;
}

.message-box p,
.following-box2 p {
    font-size: 14px;
    font-weight: 500;
}

.message-box {
    color: white;
    background-color: rgb(0, 149, 246);
}

.message-box:hover {
    background-color:rgb(24, 119, 242);
}

.following-box2 {
    background-color: rgb(239, 239, 239);
}

.following-box2:hover {
    background-color: rgb(219, 219, 219);
}

.info-box {
    flex: 1;
}

.username-box {
    display: inline-block;
    position: relative;
}

.info-box p {
    margin: 0;
    font-size: 14px;
}

.username {
    font-weight: 500;
    color: rgb(41, 41, 41);
    display: inline-block;
}

.verified-box {
    display: inline-block;
    position: relative;
}

.verified-box:hover .verified-box2 {
    opacity: 1;
}

.verified-box2 {
    position: absolute;
    border: 0.5px solid black;
    font-size: 12px;
    padding: 4px 5px;
    bottom: -35px;
    right: -60px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    background-color: white;
}

.name {
    color: gray;
}

.tool-box {
    width: auto;
    color: rgb(10, 153, 246);
    font-size: 12px;
    font-weight: 500;
}

.suggest-box {
    display: flex;
    margin-top: 8px;
}

.suggest-box2 {
    flex: 1;
    font-size: 14px;
    color: rgb(116, 116, 116);
    font-weight: 500;
}

.tool-box2 {
    width: auto;
    font-size: 12px;
    font-weight: 500;
    transition: opacity 0.2s;
}

.tool-box2:hover {
    opacity: 0.6;
}

.instagram-tool {
    top: 480px;
    right: 180px;
    /* background-color: lightcoral; */
}

.instagram-tool div {
    font-size: 12px;
    color: rgb(202, 202, 202);
}

.box-1 {
    margin-bottom: 5px;
}

.box-1 span,
.box-2 span {
    transition: text-decoration 0.2s;
}

.box-1 span:hover,
.box-2 span:hover {
    text-decoration: underline;
}

.box-2 {
    margin-bottom: 20px;
}

.box-2 .language-span:hover {
    text-decoration: none;
}

@media (max-width: 1200px) {
    .right-box {
        display: none;
    }
}