header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: white;
    z-index: 5;
}

.left {
    display: flex;
    align-items: center;
}

.left button {
    margin-left: 20px;
    margin-right: 24px;
}

.youtube-logo-box {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.7);
}

.country {
    position: absolute;
    top: -7px;
    right: -16px;
    cursor: pointer;
}

.hamburger-icon,
.upload-icon,
.youtube-app-icon,
.noti-icon,
.search-icon,
.voice-search-icon {
    width: 24px;
}

.youtube-logo {
    height: 22px;
    cursor: pointer;
}

.mid {
    display: flex;
    align-items: center;
    margin-left: 60px;
    flex: 1;
    max-width: 650px;
}

.type-search {
    flex: 1;
    padding-left: 12px;
    height: 40px;
    border: 1px solid rgb(200, 200, 200);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: inset 0px 0px 0.5px rgba(0, 0, 0, 0.3);
    width: 0;
    box-sizing: border-box;
    padding: 1px 2px 1px 15px;
    outline: none;
}

.type-search:focus {
    border: 1px solid rgb(28, 98, 185);
}

.type-search::placeholder {
    font-size: 16px;
    color: rgb(136, 136, 136);
}

.search-box {
    border: 1px solid rgb(200, 200, 200);
    box-shadow: inset 0px 0px 0.5px rgba(0, 0, 0, 0.3);
    border-left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    cursor: pointer;
    transition: background-color 0.1s;
    position: relative;
}

.search-box .tooltip,
.voice-box .tooltip,
.upload-box .tooltip,
.youtube-app-box .tooltip,
.noti-box .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(250, 250, 250);
    bottom: -50px;
    padding: 10px 7px;
    font-size: 12px;
    font-family: Roboto;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
    white-space: nowrap;
}

.search-box:hover .tooltip,
.voice-box:hover .tooltip,
.upload-box:hover .tooltip,
.youtube-app-box:hover .tooltip,
.noti-box:hover .tooltip {
    opacity: 1;
}

.search-box:hover {
    background-color: rgb(233, 233, 233);
}

.voice-box {
    height: 40px;
    display: flex;
    margin-left: 15px;
    background-color: rgb(240, 240, 240);
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s;
    position: relative;
}

.voice-box:hover {
    background-color: rgb(220, 220, 220);
}

.right {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-right: 16px;
    flex-shrink: 0;
    margin-left: 60px;
    align-items: center;
}

.youtube-logo-box,
.upload-box,
.youtube-app-box,
.noti-box {
    position: relative;
}

.left button,
.right button {
    height: 40px;
    display: flex;
    background-color: white;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s;
}

.left button:hover,
.right button:hover {
    background-color: rgb(240, 240, 240);
}

.channel-avatar {
    height: 36px;
    border-radius: 18px;
    cursor: pointer;
}