.header {
  display: flex;
  align-items: center;
  padding-left: 35px;
  position: sticky;
  top: 0;
  height: 50px;
  background-color: #1e3932;
  color: white;
  font-weight: bold;
  font-size: 14px;
}