.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 20px;
    row-gap: 40px;
}

.thumbnail {
    width: 100%;
    border-radius: 10px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 34px 1fr;
    column-gap: 9px;
}

.profile-pic {
    width: 100%;
    border-radius: 17px;
    margin-top: 12px;
}

.title,
.author,
.stats {
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    font-family: Roboto;
    font-weight: 500;
    margin-top: 14px;
    margin-bottom: 12px;
}

.author,
.stats {
    color: rgb(100, 96, 96);
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
}

.author {
    margin-bottom: 5px;
}