body {
    background-color: rgb(36, 37, 38);
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 1070px;
}

.container {
    display: block;
    background-color: rgb(24, 25, 26);
    padding-top: 15px;
}

main {
    display: grid;
    grid-template-columns: 400px 595px;
    width: 1010px;
    margin: auto;
    column-gap: 15px;
}