.account-info-box {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.top-info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 15px 15px;
    background-color: rgb(36, 37, 38);
    border-radius: 10px;
}

.top-info > div {
    display: flex;
    align-items: center;
}

.top-info > div:first-child span {
    color: white;
    font-size: 19px;
    font-weight: bold;
}

.top-info > div:nth-child(2) {
    justify-content: center;
}

.top-info > div:nth-child(2) span {
    color: white;
    font-size: 15px;
}

.top-info > div:nth-child(3),
.top-info > div:nth-child(11),
.top-info > div:nth-child(13) {
    justify-content: center;
    padding: 7px 0px;
    background-color: rgb(58, 59, 60);
    border-radius: 7px;
    cursor: pointer;
}

.top-info > div:nth-child(3) span,
.top-info > div:nth-child(11) span,
.top-info > div:nth-child(13) span {
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.top-info > div:nth-child(3):hover,
.top-info > div:nth-child(11):hover,
.top-info > div:nth-child(13):hover {
    background-color: rgb(78, 79, 80);
}

.top-info > div:nth-child(4) img,
.top-info > div:nth-child(5) img,
.top-info > div:nth-child(6) img,
.top-info > div:nth-child(7) img,
.top-info > div:nth-child(8) img,
.top-info > div:nth-child(9) img,
.top-info > div:nth-child(10) img {
    width: 20px;
    height: 19px;
}

.top-info > div:nth-child(4) {
    column-gap: 10px;
    align-items: flex-start;
}

.top-info > div:nth-child(4) p {
    color: white;
    font-size: 15px;
}

.top-info > div:nth-child(4) span,
.top-info > div:nth-child(5) span,
.top-info > div:nth-child(7) span {
    font-weight: 600;
    cursor: pointer;
}

.top-info > div:nth-child(4) span:hover {
    text-decoration: underline;
}

.top-info > div:nth-child(5) {
    column-gap: 10px;
}

.top-info > div:nth-child(5) p {
    color: white;
    font-size: 15px;
}

.top-info > div:nth-child(5) span:hover {
    text-decoration: underline;
}

.top-info > div:nth-child(6) {
    column-gap: 10px;
}

.top-info > div:nth-child(6) span {
    color: white;
    font-size: 15px;
}

.top-info > div:nth-child(7) {
    column-gap: 10px;
}

.top-info > div:nth-child(7) p {
    color: white;
    font-size: 15px;
}

.top-info > div:nth-child(7) span:hover {
    text-decoration: underline;
}

.top-info > div:nth-child(8) {
    column-gap: 10px;
    cursor: pointer;
}

.top-info > div:nth-child(8) span,
.top-info > div:nth-child(9) span {
    color: rgb(90, 167, 255);
    
}

.top-info > div:nth-child(9) {
    column-gap: 10px;
    cursor: pointer;
}

.top-info > div:nth-child(10) span {
    color: rgb(8, 102, 255);
    font-size: 15px;
    cursor: pointer;
}

.top-info > div:nth-child(10) {
    column-gap: 10px;
}

.top-info > div:nth-child(8) span:hover,
.top-info > div:nth-child(9) span:hover,
.top-info > div:nth-child(10) span:hover {
    text-decoration: underline;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.story img,
.pic {
    width: 105px;
    height: 190px;
    border-radius: 10px;
    cursor: pointer;
}

.pic {
    overflow: hidden;
    position: relative;
}

.pic > div:nth-child(2) > span {
    font-size: 12px;
    color: white;
}

.pic > img {
    transition: transform 0.3s;
}

.pic > div:nth-child(2) {
    position: absolute;
    bottom: 5px;
    left: 10px;
    pointer-events: none;
}

.pic:hover > img {
    transform: scale(1.02);
}

.note > span {
    font-size: 14px;
    color: white;
    font-weight: 500;
}

.top-info a {
    text-decoration: none;
}

.mid-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: rgb(36, 37, 38);
    border-radius: 10px;
}

.mid-info > div:first-child,
.mid-info > div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid-info > div:first-child span {
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.mid-info > div:first-child span:hover {
    text-decoration: underline;
}

.mid-info > div:last-child span {
    color: rgb(90, 167, 255);
    font-size: 18px;
    cursor: pointer;
}

.mid-info > div:last-child {
    padding: 3px 6px;
    border-radius: 5px;
}

.mid-info > div:last-child:hover {
    background-color: rgb(58, 59, 60);
}

.bottom-info {
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 37, 38);
    border-radius: 10px;
    padding: 10px 15px;
}

.bottom-info > div:first-child {
    display: flex;
    justify-content: space-between;
}

.bottom-info > div:first-child div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-info > div:first-child > div:first-child span {
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.bottom-info > div:first-child > div:first-child span:hover {
    text-decoration: underline;
}

.bottom-info > div:first-child > div:last-child span {
    color: rgb(90, 167, 255);
    font-size: 18px;
    cursor: pointer;
}

.bottom-info > div:first-child > div:last-child {
    padding: 3px 6px;
    border-radius: 5px;
}

.bottom-info > div:first-child > div:last-child:hover {
    background-color: rgb(58, 59, 60);
}

.bottom-info > div:nth-child(2) > span {
    color: rgb(176, 179, 184);
    font-size: 15px;
}

.friends {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    row-gap: 20px;
}

._friends {
    display: flex;
    justify-content: space-between;
}

._friends > div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    cursor: pointer;
    position: relative;
}

._friends > div > img {
    width: 115px;
    height: 115px;
    border-radius: 4px;
}

._friends > div > span {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

._friends > div:hover .more-info,
.name-datetime > div:first-child:hover .more-info,
.name-datetime-ori-author > div:first-child:hover .more-info,
.left-author > div:first-child:hover .more-info,
.ori-author > div:first-child:hover .more-info {
    opacity: 1;
}

.more-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.1);
    opacity: 0;
    pointer-events: none;
    row-gap: 15px;
    padding: 15px;
    z-index: 1;
    background-color: rgb(36, 37, 38);
    width: 410px;
    transition: opacity 0.3s;
}

._friends > div .more-info {
    top: 140px;
    left: -147.5px;
}

.name-datetime > div:first-child .more-info {
    top: 20px;
    left: -140px;
}

.name-datetime-ori-author > div:first-child .more-info {
    left: -117.5px;
}

.left-author > div:first-child .more-info {
    left: -185px;
}

.ori-author > div:first-child .more-info {
    left: -189px;
}

.top-more-info {
    display: flex;
    column-gap: 15px;
    padding: 0px 15px;
}

.pro-pic {
    display: flex;
}

.pro-pic > img {
    width: 88px;
    height: 88px;
    border-radius: 9999px;
}

.account-info {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}

.account-info > div:first-child > span {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.account-info > div:not(:first-child) {
    display: flex;
    column-gap: 10px;
    align-items: flex-start;
}

.account-info > div:not(:first-child) > img {
    width: 19px;
    height: 17px;
}

.account-info > div:not(:first-child) > p {
    color: white;
    font-size: 15px;
}

.account-info > div:not(:first-child) span {
    font-weight: 600;
    color: white;
}

.bottom-more-info {
    display: flex;
    column-gap: 7px;
}

.bottom-more-info > div:not(:last-child) img {
    width: 16px;
    height: 16px;
}

.bottom-more-info span {
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.bottom-more-info > div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    height: 35px;
    border-radius: 7px;
}

.bottom-more-info > div:not(:last-child) {
    flex: 1;
}

.bottom-more-info > div:last-child {
    width: 45px;
}

._friends > div .more-info .bottom-more-info > div:nth-child(odd),
.name-datetime > div:first-child .more-info .bottom-more-info > div:not(:first-child),
.name-datetime-ori-author > div:first-child .more-info .bottom-more-info > div:not(:first-child),
.left-author > div:first-child .more-info .bottom-more-info > div:not(:first-child),
.ori-author > div:first-child .more-info .bottom-more-info > div:not(:first-child) {
    background-color: rgb(58, 59, 60);
}

._friends > div .more-info .bottom-more-info > div:nth-child(2),
.name-datetime > div:first-child .more-info .bottom-more-info > div:first-child,
.name-datetime-ori-author > div:first-child .more-info .bottom-more-info > div:first-child,
.left-author > div:first-child .more-info .bottom-more-info > div:first-child,
.ori-author > div:first-child .more-info .bottom-more-info > div:first-child {
    background-color: rgb(8, 102, 255);
}

.name-datetime > div:first-child .more-info .bottom-more-info > div:first-child > p,
.left-author > div:first-child .more-info .bottom-more-info > div:first-child > p {
    color: white;
    font-size: 23px;
}

footer {
    display: flex;
    align-items: center;
    column-gap: 4px;
    flex-wrap: wrap;
}

footer span {
    font-size: 13px;
    color: rgb(176, 179, 184);
}

footer img {
    width: 11px;
    height: 11px;
}

footer > span:first-child,
footer > span:nth-child(3),
footer > span:nth-child(5),
footer > div:nth-child(7),
footer > span:nth-child(9), 
footer > span:nth-child(11) {
    cursor: pointer;
}

footer > span:first-child:hover,
footer > span:nth-child(3):hover,
footer > span:nth-child(5):hover,
footer > div:nth-child(7):hover span,
footer > span:nth-child(9):hover, 
footer > span:nth-child(11):hover {
    text-decoration: underline;
}

.home-timeline {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    row-gap: 15px;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 10px 12px;
    background-color: rgb(36, 37, 38);
    border-radius: 10px;
}

.header > div:first-child {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 15px;
}

.header > div:first-child img {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    cursor: pointer;
}

.header > div:first-child div {
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: rgb(58, 59, 60);
    cursor: pointer;
}

.header > div:first-child div:hover {
    background-color: rgb(78, 79, 80);
}

.header > div:first-child span {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}

.tool {
    display: flex;
    padding-top: 10px;
}

.tool img {
    width: 24px;
    height: 24px;
}

.tool span {
    color: white;
    font-size: 15px;
}

.tool div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    column-gap: 5px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.tool div:hover {
    background: rgb(58, 59, 60);
}

.timeline-view {
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 37, 38);
    border-radius: 10px;
}

.top-tlv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
}

.top-tlv > span {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.top-tlv > div {
    display: flex;
    column-gap: 10px;
}

.top-tlv img {
    width: 14px;
}

.top-tlv > div span {
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.top-tlv > div div {
    padding: 8px 10px;
    border-radius: 5px;
    background-color: rgb(58, 59, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    cursor: pointer;
}

.top-tlv > div div:hover {
    opacity: 0.8;
}

.bottom-tlv {
    display: flex;
    padding: 4px 12px;
}

.bottom-tlv > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 7px 0;
    column-gap: 5px;
    cursor: pointer;
}

.bottom-tlv img {
    width: 16px;
    height: 14px;
}

.bottom-tlv > div:first-child span {
    color: rgb(8, 102, 255);
    font-size: 15px;
    font-weight: 500;
}

.bottom-tlv > div:last-child span {
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.bottom-tlv > div:first-child {
    position: relative;
}

.bottom-tlv > div:first-child div {
    position: absolute;
    background-color: rgb(8, 102, 255);
    bottom: -4px;
    left: 0;
    right: 0;
    height: 3px;
}

.bottom-tlv > div:last-child {
    border-radius: 5px;
}

.bottom-tlv > div:last-child:hover {
    background-color: rgb(78, 79, 80)
}

article {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: rgb(36, 37, 38);
    border-radius: 10px;
}

.author {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    padding: 0px 5px;
}

.left-author {
    display: flex;
    column-gap: 8px;
}

.left-author > div:first-child,
.left-author > div:first-child > img {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    cursor: pointer;
    position: relative;
}

.name-datetime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3px;
}

.name-datetime > div:first-child {
    display: flex;
    align-items: center;
    position: relative;
}

.name-datetime > div:first-child > span {
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.name-datetime > div:first-child span:hover {
    text-decoration: underline;
}

.datetime {
    display: flex;
    align-items: center;
}

.datetime > div {
    display: flex;
    align-items: center;
    position: relative;
}

.datetime > div:first-child > span {
    color: rgb(176, 179, 184);
    font-size: 12px;
    cursor: pointer;
}

.datetime > div:nth-child(2) {
    margin-left: 3px;
}   

.datetime > div:nth-child(2) > span {
    color: rgb(176, 179, 184);
}

.datetime > div:first-child > span:hover {
    text-decoration: underline;
}

.datetime > div:last-child {
    cursor: pointer;
    width: 17px;
    height: 17px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.datetime > div:last-child:hover {
    background-color:rgb(58, 59, 60);
}

.datetime > div:last-child > img {
    width: 10.5px;
    height: 10.5px;
    border-radius: 9999px;
}

.datetime-details,
.display-mode {
    position: absolute;
    padding: 12px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.datetime-details > span,
.display-mode > span {
    color: black;
    font-size: 12px;
}

.datetime > div:first-child:hover .datetime-details,
.datetime > div:last-child:hover .display-mode {
    opacity: 1;
}

.datetime > div:first-child .datetime-details {
    top: 17px;
    left: -70%;
    right: -70%;
}

.datetime > div:last-child .display-mode {
    top: 15px;
    left: -25px;
    right: -25px;
}

.right-author {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 9999px;
    cursor: pointer;
}

.right-author:hover {
    background-color: rgb(58, 59, 60)
}

.pic-cap-post {
    display: flex;
    flex-direction: column;
    /* row-gap: 5px; */
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

.pic-post img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}

.cap-post {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 5px 0px 10px 15px;
}

.ori-author {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.ori-author > div:first-child,
.ori-author > div:first-child > img {
    width: 32px;
    height: 32px;
    border-radius: 9999px;
    cursor: pointer;
    position: relative;
}

.name-datetime-ori-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-datetime-ori-author > div {
    position: relative;
}

.name-datetime-ori-author > div:first-child > span {
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.name-datetime-ori-author > div:first-child span:hover {
    text-decoration: underline;
}

.cap {
    display: flex;
    align-items: center;
}

.cap span {
    color: white;
    font-size: 15px;
}

.num-interact {
    display: flex;
    align-items: center;
    column-gap: 7px;
    padding: 10px 0px 10px 5px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
}

.num-interact img {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.num-interact span {
    color: rgb(176, 179, 184);
    font-size: 15px;
    cursor: pointer;
}

.num-interact span:hover {
    text-decoration: underline;
}

.interact {
    display: flex;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
}

.interact > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    column-gap: 7px;
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
}

.interact > div:hover {
    opacity: 0.8;
}

.interact img {
    width: 18px;
    height: 18px;
}

.interact span {
    color: rgb(176, 179, 184);
    font-size: 15px;
    font-weight: 500;
}

.limit-cmt {
    display: flex;
    column-gap: 12px;
    padding: 12px 5px 0px 5px;
    /* border-bottom: 0.5px solid rgba(255, 255, 255, 0.1); */
}

.limit-cmt > div:first-child {
    width: 35px;
    height: 35px;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.limit-cmt > div:first-child img {
    width: 18px;
    height: 18px;
}

.limit-cmt > div:last-child {
    display: flex;
    align-items: center;
}

.limit-cmt > div:last-child span {
    color: rgb(176, 179, 184);
    font-size: 14.5px;
}