@font-face {
  font-family: "TwitterChirp";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Chirp-Regular.80fda27a.woff2") format("woff2");
}

@font-face {
  font-family: "TwitterChirp";
  font-style: normal;
  font-weight: 500;
  src: url("../font/Chirp-Medium.f8e2739a.woff2") format("woff2");
}

@font-face {
  font-family: "TwitterChirp";
  font-style: normal;
  font-weight: 700;
  src: url("../font/Chirp-Bold.ebb56aba.woff2") format("woff2");
}

@font-face {
  font-family: "TwitterChirp";
  font-style: normal;
  font-weight: 800;
  src: url("../font/Chirp-Heavy.f44ae4ea.woff2") format("woff2");
}