body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin-top: 0;
}

.container {
    display: grid;
    grid-template-columns: 265px auto;
    margin: 0px auto;
    justify-content: center;
}