header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 265px;
    /* background-color: lightblue; */
    border-right: 0.5px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

aside {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

nav > div:not(div:nth-child(1)),
.logo,
.icon-btn,
.tweet,
.info-box {
    cursor: pointer;
}

nav > div:first-child {
    margin-bottom: 5px;
}

.logo {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: background-color 0.2s;
}

.logo:hover {
    background-color:rgb(231, 231, 231);
}

nav > div:not(div:nth-child(1)):hover .icon-btn {
    background-color: rgb(231, 231, 231);
}

.icon-btn {
    display: flex;
    align-items: center;
    column-gap: 15px;
    height: 50px;
    border-radius: 9999px;
    border: none;
    padding: 0px 25px 0px 12px;
    background-color: white;
    transition: background-color 0.2s;
}

.icon-btn span {
    font-size: 20px;
}

nav > div:last-child {
    margin-top: 5px;
}

.tweet {
    height: 50px;
    width: 230px;
    border-radius: 9999px;
    border: none;
    background-color: rgb(29, 155, 240);
    transition: background-color 0.2s;
}

.tweet > span {
    font-size: 17px;
    color: white;
    font-weight: bold;
}

.tweet:hover {
    background-color: rgb(26, 140, 216);
}

.tweet > img {
    display: none;
}

.info-box {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 10px;
    border-radius: 9999px;
    margin-right: 5px;
    background-color: white;
    transition: background-color 0.2s;
}

.info-box:hover {
    background-color: rgb(231, 231, 231);
}

.info-box > div:nth-child(1) img {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}

.info-box > div:nth-child(odd) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-box {
    display: flex;
    align-items: center;
}

.name-box span {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 130px;
    font-weight: bold;
}

.name-box img {
    width: 18px;
    height: 18px;
}

.username-box span {
    font-size: 15px;
    color: gray;
}

.info-box > div:last-child img {
    width: 19px;
    height: 19px;
}

@media (max-width: 1300px) {
    .container {
        grid-template-columns: 70px auto;
    }

    header {
        width: 70px;
    }

    .icon-btn {
        width: 50px;
    }

    .icon-btn > span {
        display: none;
    }

    .tweet {
        width: 50px;
    }

    .tweet > span {
        display: none;
    }

    .tweet > img {
        display: unset;
    }

    .info-box > div:not(:first-child) {
        display: none;
    }

    .info-box > div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 43px;
        height: 43px;
        border-radius: 9999px;
    }
}