.sticky-sidebar {
    /* background-color: lightblue; */
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    /* flex-shrink: 0; */
    padding-top: 65px;
}

.sticky-sidebar-2-3 button {
    cursor: pointer;
}

.sticky-sidebar-1 {
    display: flex;
    height: 43px;
    border-radius: 9999px;
    position: fixed;
    width: 350px;
    top: 5px;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 5;
}

.sticky-sidebar-1-1,
.sticky-sidebar-1-2 {
    display: flex;
    align-items: center;
    background-color: rgb(239, 243, 244);
}

.sticky-sidebar-1-1 {
    width: 60px;
    /* background-color: lightpink; */
    justify-content: center;
}

.sticky-sidebar-1-1 img {
    width: 19px;
    height: 19px;
}

.sticky-sidebar-1-2 {
    flex: 1;
    /* background-color: lightblue; */
    padding-right: 13px;
}

.sticky-sidebar-2,
.sticky-sidebar-3 {
    background-color: rgb(239, 243, 244);
    border-radius: 13px;
}

.sticky-sidebar-2 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}

.sticky-sidebar-2-1 span {
    font-size: 20px;
    font-weight: bold;
}

.sticky-sidebar-2-2 span {
    font-size: 15px;
    font-weight: bold;
    max-width: 300px;
    display: inline-block;
}

.sticky-sidebar-2-3 button {
    border-radius: 9999px;
    font-size: 14px;
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 9px 18px;
}

.sticky-sidebar-3 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 10px;
}

.sticky-sidebar-3-1 span {
    font-size: 20px;
    font-weight: bold;
}

.sticky-sidebar-3-2 {
    display: flex;
    flex-direction: column;
}

.sticky-sidebar-3-2 span {
    font-size: 14px;
}

.sticky-sidebar-3-2-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sticky-sidebar-3-2-1 img {
    width: 19px;
    height: 19px;
}

.sticky-sidebar-3-2-2 span {
    font-weight: bold;
    font-size: 15px;
}

.sticky-sidebar-3-2-1 span,
.sticky-sidebar-3-2-3 span {
    color: rgb(102, 102, 102)
}