@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --alway-white: #FFF;
  --alway-black: #000;

  --primary-text: #0F0F0F;
  --second-text: #606060;
  --third-text: #909090;

  --black-alpha-5: rgba(0, 0, 0, 0.05);
  --black-alpha-10: rgba(0, 0, 0, 0.1);
  --black-alpha-30: rgba(0, 0, 0, 0.3);
  --black-alpha-80: rgba(0, 0, 0, 0.8);

  --searchbox-shadow: #EEE;
  --searchbox-button: #F8F8F8;
  --searchbox-button-hover: #F0F0F0;
  --searchbox-border: #D3D3D3;
  --search-icon: #F2F2F2;
  --search-icon-hover: #D9D9D9;

  --tooltip-bg: #707070;

  --iconbox-hover: #E5E5E5;

  --extra: #065FD4;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: var(--alway-white);
  padding-top: 11.2rem;
  padding-left: 26.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

::-webkit-scrollbar {
  width: 0.9rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 999rem;
}

#nav::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#nav:hover::-webkit-scrollbar-thumb {
  background-color: #909090;
}

body::-webkit-scrollbar-thumb {
  background-color: #606060;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}