@mixin iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 999rem;
}

[aria-label] {
  position: relative;
}

[aria-label]::after {
  content: attr(aria-label);
  background-color: var(--tooltip-bg);
  color: var(--alway-white);
  position: absolute;
  top: 150%;
  z-index: 11;
  padding: 1rem 0.8rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  font-family: 'Roboto', Arial, sans-serif;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
}

[aria-label]:hover::after {
  opacity: 1;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5.6rem;
  padding-inline: 1.6rem;
  color: var(--primary-text);
  background-color: var(--alway-white);
  z-index: 10;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
    > * {
      display: flex;
      align-items: center;
      height: 100%;
    }

    &__nav {
      column-gap: 1.6rem;
      width: 25rem;

      &__hamberger-menu {
        @include iconBox;

        &:hover {
          background-color: var(--iconbox-hover);
        }
      }

      &__logo {
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
      }
    }

    &__search {
      flex: 1;
      max-width: 65rem;

      &__bar {
        flex: 1;
        display: flex;
        position: relative;

        > input {
          flex: 1;
          width: 0;
          height: 4rem;
          outline: none;
          border: 1px solid var(--searchbox-border);
          border-radius: 999rem 0 0 999rem;
          box-shadow: inset 0 1px 2px var(--searchbox-shadow);
          padding: 0 0.4rem 0 1.6rem;
          font-size: inherit;
          font-family: inherit;
          font-weight: 400;
          color: inherit;
  
          &::placeholder {
            color: var(--third-text);
          }
  
          &:focus {
            border: 1px solid #1c62b9;
            box-shadow: inset 0 1px 2px var(--black-alpha-30);
          }
        }

        > svg {
          position: absolute;
          top: 25%;
          left: 1.6rem;
          z-index: 1;
          opacity: 0;
        }
      }

      &__bar.focus {
        margin-left: -3.2rem;

        > input {
          padding-left: 4.8rem;
        }

        > svg {
          opacity: 1;
        }
      }

      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6.4rem;
        height: 4rem;
        border-radius: 0 999rem 999rem 0;
        border-width: 1px 1px 1px 0;
        border-style: solid;
        border-color: var(--searchbox-border);
        background-color: var(--searchbox-button);

        &:hover {
          background-color: var(--searchbox-button-hover);
        }
      }

      &__voice {
        @include iconBox;
        cursor: pointer;
        margin-left: 1.6rem;
        background-color: var(--search-voice);

        &:hover {
          background-color: var(--search-voice-hover);
        }
      }
    }

    &__account {
      justify-content: flex-end;
      column-gap: 1.6rem;
      width: 25rem;

      &__create,
      &__notifications {
        @include iconBox;
        cursor: pointer;

        &:hover {
          background-color: var(--iconbox-hover);
        }
      }

      &__profile {
        display: flex;
        align-items: center;
        margin-right: 1.6rem;

        img {
          border-radius: 999rem;
          cursor: pointer;
        }
      }
    }
  }
}

#header-theme {
  position: fixed;
  top: 5.6rem;
  left: 26.4rem;
  right: 0;
  height: 5.6rem;
  color: var(--primary-text);
  background-color: var(--alway-white);
  font-weight: 500;
  font-size: 1.4rem;
  overflow: hidden;
  z-index: 9;

  .header-theme {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    height: 100%;
    position: relative;

    &__item {
      display: flex;
      align-items: center;
      white-space: nowrap;
      height: 3.2rem;
      padding-inline: 1.2rem;
      border-radius: 0.8rem;
      cursor: pointer;

      &:hover:not(.active) {
        background-color: var(--iconbox-hover);
      }
    }

    &__item:not(.active) {
      background-color: var(--black-alpha-5);
    }

    .active {
      background-color: var(--alway-black);
      color: var(--alway-white);
    }
  }
}