// 1900px
@media only screen and (max-width: 118.75rem) {
  #main {
    .main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

//1575px
@media only screen and (max-width: 98.4375rem) {
  #main {
    .main {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

// 1315px
@media only screen and (max-width: 82.1875rem) {
  body {
    padding-left: 9.6rem;
  }

  #header-theme {
    left: 9.6rem;
  }

  #nav {
    width: 7.2rem;
    padding: 0;
    overflow-y: hidden;

    .nav {
      display: none;
    }

    .nav-responsive {
      display: flex;
    }
  }
}

// 1080px
@media only screen and (max-width: 67.5rem) {
  #main {
    .main {
      grid-template-columns: 1fr 1fr;
    }
  }
}

// 800px
@media only screen and (max-width: 50rem) {
  body {
    padding-left: 1.6rem;
  }

  #header-theme {
    left: 1.6rem;
  }

  #nav {
    display: none;
  }
}

// 700px
@media only screen and (max-width: 43.75rem) {
  #main {
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

// 655px
@media only screen and (max-width: 40.9375rem) {
  #header {
    padding-inline: 0.8rem;

    .header {
      &__nav {
        max-width: max-content;

        &__hamberger-menu {
          margin-right: 0.4rem;
        }
      }

      &__search {
        // direction: rtl;
        justify-content: flex-end;

        &__bar,
        &__button {
          display: none;
        }

        &__responsive,
        &__voice {
          margin-left: 0;
          background-color: transparent;
        }

        &__responsive {
          display: flex;
        }
      }

      &__account {
        column-gap: 0;
        max-width: max-content;

        &__profile {
          margin-left: 1.6rem;
        }
      }
    }
  }
}