body {
    background-color: rgb(36, 37, 38);
    font-family: Montserrat, "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 1100px;
}

.container {
    background-color: rgb(24, 25, 26);
    padding: 15px 0px;
}

main {
    display: grid;
    grid-template-columns: 400px 625px;
    width: 1040px;
    margin: 0px auto;
    column-gap: 15px;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(65, 65, 65);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(104, 104, 104);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(123, 123, 123);
}