footer {
  display: flex;
  align-items: center;
  position: fixed;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background-color: #000;
  height: 75px;
  padding: 0 15px;
}

footer svg {
  width: 16px;
  height: 16px;
}

.left-section-footer, 
.right-section-footer {
  display: flex;
  flex: 1;
  max-width: 450px;
  min-width: 300px;
}

.middle-section-footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  row-gap: 5px;
}

.middle-section-footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-section-footer .play-music {
  column-gap: 25px;
}

.middle-section-footer .play-music>div {
  height: 30px;
  width: 30px;
  background-color: gray;
  border-radius: 9999px;
}

.middle-section-footer .time {
  column-gap: 10px;
  justify-content: flex-start;
  color: rgba(255, 255, 255, .7);
}

.middle-section-footer .time>div {
  background-color: rgba(128, 128, 128, .5);
  height: 4px;
  flex: 1;
  border-radius: 9999px;
}

.right-section-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 15px;
}

.right-section-footer>div {
  height: 3px;
  border-radius: 9999px;
  background-color: white;
  width: 80px;
}