main {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 35px;
}

article {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position: relative;
    /* background-color: lightblue; */
}

.thumbnail {
    position: relative;
    /* background-color: lightblue; */
    cursor: pointer;
}

.thumbnail > img {
    border-radius: 13px;
    width: 100%;
    height: 100%;
}

.video-duration {
    position: absolute;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 4px;
    bottom: 5px;
    right: 5px;
}

.video-duration > span {
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.avatar-cap {
    display: flex;
    column-gap: 15px;
    cursor: pointer;
    align-items: flex-start;
}

.avatar-cap:hover .option {
    opacity: 1;
}

.avatar {
    display: flex;
    justify-content: center;
}

.avatar > img {
    width: 36px;
    height: 36px;
    border-radius: 9999px;
    cursor: pointer;
}

.cap {
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 10px;
}

.cap > div:first-child {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}

.cap > div:first-child > span {
    font-size: 16px;
    font-weight: 500;
}

.cap > div:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.cap > div:last-child > span {
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.option {
    width: 24px;
    height: 24px;
    opacity: 0;
    transition: opacity 0.1s;
    display: flex;
    align-items: flex-start;
}

.cap-only {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.cap-only .cap > div:first-child {
    margin-bottom: 5px;
}

.cap-only .cap {
    display: flex;
    align-items: flex-start;
}

.cap-only .cap > span {
    font-size: 16px;
    font-weight: 500;
}

.cap-only > div:last-child > span {
    color: rgb(96, 96, 96);
    font-size: 12px;
}

.cap-only:hover .option {
    opacity: 1;
}

.cap > div:first-child,
.cap-only > div:first-child {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.play-list {
    position: absolute;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.play-list > img {
    width: 24px;
    height: 24px;
}

.play-all {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.77);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 13px;
    opacity: 0;
    transition: opacity 0.1s;
}

.play-all > img {
    width: 24px;
    height: 24px;
}

.play-all > span {
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.thumbnail:hover .play-all {
    opacity: 1;
}

.shorts-box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

.title-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-close > div {
    display: flex;
    align-items: center;
}

.title-close > div:first-child {
    column-gap: 7px;
}

.title-close > div:first-child > img {
    width: 24px;
    height: 24px;
}

.title-close > div:first-child > span {
    font-size: 20px;
}

.title-close > div:last-child {
    cursor: pointer;
    width: 40px;
    height: 40px;
    justify-content: center;
    border-radius: 9999px;
    position: relative;
}

.title-close > div:last-child > img {
    width: 24px;
    height: 24px;
}

.title-close > div:last-child:hover {
    background-color: rgb(229, 229, 229);
}

.title-close > div:last-child .tooltip {
    top: unset;
    left: -110px;
}

.title-close > div:last-child:hover .tooltip {
    opacity: 1;
}

.shorts {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 15px;
}

.short-section {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.short-section > div:first-child > img {
    height: 420px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    cursor: pointer;
}

.short-info {
    display: flex;
    cursor: pointer;
}

.short-cap-views {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.short-cap-views > div:first-child {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.short-cap-views > div:first-child > span {
    font-size: 16px;
    font-weight: 500;
}

.short-cap-views > div:last-child > span {
    font-size: 14px;
}

.short-info > div:last-child > img {
    width: 24px;
    height: 24px;
    opacity: 0;
    transition: opacity 0.1s;
}

.short-info:hover > div:last-child > img {
    opacity: 1;
}

.shorts-more {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}

.shorts-more > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 35px;
    border-radius: 9999px;
    position: absolute;
    top: -17.5px;
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.shorts-more > div > span {
    font-size: 14px;
    font-weight: 500;
}

.shorts-more > div > img {
    width: 24px;
    height: 24px;
}

.shorts-more > div:hover {
    background-color: rgb(229, 229, 229);
    border: unset;
}

.shorts-more > div:hover .tooltip {
    opacity: 1;
}

@media (max-width: 1400px) {
    section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1100px) {
    section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    section {
        grid-template-columns: 1fr;
    }
}