.main {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.main>*{
  padding: 0 111px;
  margin-bottom: 40px;
}

.main section {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.main section .title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.main section .card-section {
  text-wrap: nowrap;
}

.main .card-section .card {
  display: inline-block;
  margin-right: 32px;
  max-width: 300px;
  cursor: pointer;
}

.main .card-section .card img {
  width: 100%;
  border-radius: 15px;
  transition: transform 0.3s;
}

.main .card-section .card img:hover {
  transform: translateY(-7px);
}

.main .received {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(212, 233, 226);
  padding-top: 35px;
  padding-bottom: 25px;
  row-gap: 30px;
}

.main .received svg {
  vertical-align: middle;
}

.main .received .top {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 15px;
  flex-wrap: wrap;
}

.main .received .top>* {
  flex-shrink: 0;
  margin-bottom: 5px;
}

.main .received .top span:first-of-type {
  font-size: 23px;
  font-weight: bold;
}

.main .received .top span:last-of-type {
  font-size: 19px;
  color: rgba(0, 0, 0, .58);
}

.main .received .top button {
  padding: 8px 15px;
  border: none;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 9999px;
}

.main .received .top button:first-of-type {
  background-color: transparent;
}

.main .received .top button:first-of-type:hover {
  background-color: rgba(0, 0, 0, .1);
}

.main .received .top button:last-of-type {
  background-color: black;
  color: white;
}

.main .received .top button:last-of-type:hover {
  background-color: rgba(0, 0, 0, .7);
  border-color: rgba(0, 0, 0, .7);
}

.main .received .bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 15px;
  color: #006241;
  font-weight: bold;
  cursor: pointer;
}

.main .gift-container {
  display: flex;
  align-items: center;
  column-gap: 50px;
  background-color: #f9f9f9;
  padding-top: 35px;
  padding-bottom: 35px;
}

.main .gift-container .gift-pic img {
  max-width: 375px;
  object-fit: contain;
}

.main .gift-container .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;
  max-width: 300px;
}

.main .gift-container .content .title {
  font-size: 23px;
  font-weight: 600;
}

.main .gift-container .content .cap {
  font-size: 15px;
  color: rgba(0, 0, 0, .58);
}

.main .gift-container .content button {
  padding: 7px 14px;
  border-radius: 9999px;
  border: 1px solid black;
  font-weight: 600;
}

.main .gift-container .content button:hover {
  background-color: rgba(0, 0, 0, .1);
}

.main .gift-card-support {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 15px;
  background-color: #edebe9;
  padding-top: 40px;
  padding-bottom: 35px;
}

.main .gift-card-support .title {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.main .gift-card-support .content {
  max-width: 400px;
}

.main .gift-card-support div button {
  margin-right: 15px;
  margin-bottom: 5px;
  padding: 7px 14px;
  border: 1px solid black;
  border-radius: 9999px;
  background-color: transparent;
  font-weight: bold;
}

.main .gift-card-support div button:hover {
  background-color: rgba(0, 0, 0, .1);
}

@media (max-width: 780px) {
  .main .gift-container {
    flex-direction: column;
    justify-content: center;
    align-items: normal;
  }
}

@media (max-width: 700px) {
  .main>*{
    padding: 0 35px;
  }
}