#story {
  display: flex;
  column-gap: 1.4rem;
  font-size: 1.2rem;
  color: var(--primary-text);
  font-family: inherit;
  margin-bottom: 3rem;

  svg {
    width: 6.6rem;
    height: 6.6rem;
    border-radius: 999rem;
    background-image: linear-gradient(45deg, #FFD600, #FF7A00, #FF0069, #D300C5, #7638FA);
  }

  span {
    max-width: 6.6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .story {
    &__user {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 0.5rem;
      cursor: pointer;
    }
  }
}